@import "tailwindcss";

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html , body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}
#taskList{
    scroll-behavior: smooth;
}
#taskList::-webkit-scrollbar{
    display: none ;
}
#allTasks{
    scroll-behavior: smooth;
}
#allTasks::-webkit-scrollbar{
    display: none ;
}